@model LMR.Web.Models.Home
@using Newtonsoft.Json
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var viewModel = new randomizerModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(viewModel);

            //alert(JSON.stringify(@Html.Raw(JsonConvert.SerializeObject(Model.Henchmen))));

            $('#currentGamesLink').on('click', function () {
                if (!$(this).hasClass('active')) {
                    $('#currentGames').show();
                    $('#currentGamesLink').addClass('active');
                    $('#home').hide();
                    $('#homeLink').removeClass('active');
                    $('#previousGames').hide();
                    $('#previousGamesLink').removeClass('active');
                }
            });

            $('#previousGamesLink').on('click', function () {
                if (!$(this).hasClass('active')) {
                    $('#currentGames').hide();
                    $('#currentGamesLink').removeClass('active');
                    $('#home').hide();
                    $('#homeLink').removeClass('active');
                    $('#previousGames').show();
                    $('#previousGamesLink').addClass('active');
                }
            });

            $('#homeLink').on('click', function () {
                if (!$(this).hasClass('active')) {
                    $('#currentGames').hide();
                    $('#currentGamesLink').removeClass('active');
                    $('#home').show();
                    $('#homeLink').addClass('active');
                    $('#previousGames').hide();
                    $('#previousGamesLink').removeClass('active');
                }
            });
        });
    </script>
}

<form id="entryform" class="well">
    <nav class="navbar-wrapper navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Legendary Marvel</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active" id="homeLink"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li id="currentGamesLink"><a href="#"><span class="glyphicon glyphicon-play"></span> Current Games</a></li>
                        <li id="previousGamesLink"><a href="#"><span class="glyphicon glyphicon-star"></span> Previous Games</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="home">
        <div class="row">
            <div class="col-md-3">
                <h3>Make Your Selections</h3>
                <select id="playerOptions" class="selectpicker" name="playerOptions" title="Players" data-bind="options: playerOptions, value: selectedPlayers, optionsCaption: 'Players'"></select><br />
                <select class="selectpicker" title="Masterminds" data-bind="options: Masterminds, optionsText: 'Name', value: selectedMastermind, optionsCaption: 'Mastermind'"></select><br />
                <select class="selectpicker" title="Schemes" data-bind="options: Schemes, optionsText: 'Name', value: selectedScheme, optionsCaption: 'Scheme'"></select><br />
                <select class="selectpicker" title="Villains" data-bind="options: Villains, optionsText: 'Name', selectedOptions: selectedVillains, optionsCaption: 'Villains'" multiple></select><br />
                <select class="selectpicker" title="Henchmen" data-bind="options: Henchmen, optionsText: 'Name', selectedOptions: selectedHenchmen, optionsCaption: 'Henchmen'" multiple></select><br />
                <select class="selectpicker" title="Heroes" data-bind="options: heroOptions, optionsText: 'optionName', selectedOptions: selectedHeroes, optionsCaption: 'Heroes'" multiple></select>
                <input type="button" id="test" class="btn btn-lg btn-default" data-bind="click: randomize" value="Assemble!" />
            </div>
            <div id="results" class="col-md-4" style="display:none">
                <h3>Scheme</h3>
                <div data-bind="foreach: selectedScheme">
                    <h5 data-bind="text: Name"></h5>
                </div>
                <h3>Mastermind</h3>
                <div data-bind="foreach: selectedMastermind">
                    <h5 data-bind="text: Name"></h5>
                </div>
            </div>
            <div id="results2" class="col-md-5" style="display:none">
                <h3>Villain Deck</h3>
                <h4>Henchmen</h4>
                <div data-bind="foreach: selectedHenchmen">
                    <h5 data-bind="text: Name"></h5>
                </div>
                <h5 data-bind="text: displayBystanders"></h5>
                <h5>Master Strikes - 5</h5>
                <h5 data-bind="text: displayTwists"></h5>
                <h4>Villains</h4>
                <div data-bind="foreach: selectedVillains">
                    <h5 data-bind="text: Name"></h5>
                </div>
                <h3>Hero Deck</h3>
                <div data-bind="foreach: selectedHeroes">
                    <h5 data-bind="text: Name"></h5>
                </div>
                <input type="button" id="reset" class="btn btn-lg btn-default" data-bind="click: reset" value="Reset" />
                <input type="button" id="save" class="btn btn-lg btn-default" data-bind="click: save" value="Start" />
            </div>
        </div>
    </div>
    <div id="currentGames" style="display:none">
        <div data-bind="foreach: Games">
            <span data-bind="text: moment(DatePlayed()).format('MMMM Do YYYY')"></span>
            <br />
            <span data-bind="text: Mastermind.Name"></span>
            <br />
            <span data-bind="text: Scheme.Name"></span>
            <br />
            <label>Names of Players</label>
            <input type="text" data-bind="text: Names" />
            <br />
            <input type="checkbox" data-bind="checked: Won" />
            <label>Won</label>
            <br />
            <label>Score</label>
            <input type="text" data-bind="text: Score"/>
            <br />
            <input type="button" value="Update" />
        </div>
    </div>
    <div id="previousGames" style="display:none"></div>
</form>